@font-face {
  font-family: "Xiao Lai Title";
  src: url("https://cdn.moe233.net/fonts/XiaoLai-title.woff2") format("woff2");
  /*font-display: swap;*/
  /*font-display:[auto, swap, fallback, optional]设为swap时先显示后备文本，字体加载好时再切换*/
}
/*
div{
  font-size: 17px;
}
*/