@font-face {
/*
  font-family: "Zhu Zi A Wan";
  src: url("https://cdn.jsdelivr.net/gh/icedtangerine7/blog-resources/fonts/ZhuZiAWan.woff2") format("woff2");
*/
/*
  font-family: "HY Liang Pin Xian";
  src: url("https://cdn.jsdelivr.net/gh/icedtangerine7/blog-resources/fonts/HYLiangPinXian.woff2") format("woff2");
*/

  font-family: "Xiao Lai";
  src: url("https://cdn.jsdelivr.net/gh/icedtangerine7/blog-resources/fonts/XiaoLai.woff2") format("woff2");

}
div{
  font-size: 17px;
  font-weight: bold;
}
